@import "mocha.css"; 

* {
    font-family: "MesloLGS Nerd Font Mono Bold";
    font-size: 16px;
    min-height: 20px;
    font-weight: bold;
}

#waybar {
    background-color: @base;
}

window#waybar {
    color: @overlay1;
}

#window {
    margin: 0 8px;
    padding: 0 8px;
}

button {
    border: none;
    border-radius: 0;
}

button:hover {
    color: @mauve;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.focused {
    color: @rosewater;
}

#workspaces button.active {
    color: @green;
    border-color: @green;
}

#workspaces button.urgent {
    background-color: @red;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#custom-network,
#mode,
#systemd-failed-units,
#custom-combinedTemperature,
#bluetooth,
button,
#idle_inhibitor,
#custom-notification,
#scratchpad {
    margin-top: 4px;
    margin-bottom: 2px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 4px;
    padding-right: 4px;

    border-bottom: 2px solid;
}

#clock {
    color: @yellow;
}

#pulseaudio {
    color: @lavender;
}

#network {
    color: @teal;
}

#idle_inhibitor {
    color: @maroon;

    padding-right: 10px;
}
#idle_inhibitor.activated {
    color: @red;

    padding-right: 4px;
}

#battery {
    color: @green;
}

#custom-vpn {
    color: @lavender;
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
}

#custom-network {
    color: @teal;
}

#custom-combinedTemperature {
    color: @peach;
}

#systemd-failed-units {
    color: @rosewater;
    border-color: @red;
}

#cpu {
    color: @yellow;
}

#backlight {
    color: @blue;
}

#bluetooth {
    color: @sapphire;
}

#mpris {
   color: @mauve;
}

#custom-notification {
    color: @peach;
}
