@import "mocha.css"; 

* {
    font-family: "MesloLGS Nerd Font Mono Bold";
    font-size: 16px;
    min-height: 22px;
    font-weight: bold;
}

tooltip {
    font-size: 16px;
    color: @text;
    background-color: @surface0;
    border-radius: 0.8rem;
}

#waybar{
    background-color: @base;
    color: @text;
}

#workspaces {
    border-radius: 0.8rem;
    margin: 5px 1rem;
    background-color: @surface0;
}
#workspaces button {
    border-radius: 0.8rem;
    padding: 8px 5px 3px 6px;
}
#workspaces button.active {
    color: @green;
    background-color: @surface2;
}
#workspaces button:hover {
    color: @mauve;
}
#workspaces button.focused {
    color: @rosewater;
}
#workspaces button.urgent {
    background-color: @red;
}

#cpu,
#custom-combinedTemperature,
#idle_inhibitor,
#window,
#mpris,
#systemd-failed-units,
#pulseaudio,
#backlight,
#bluetooth,
#custom-network,
#battery,
#clock,
#custom-notification {
    background-color: @surface0;
    padding-left:12px;
    margin: 5px 0;
}

#cpu {
    color: @yellow;
    border-radius: 0.8rem 0 0 0.8rem;
}

#custom-combinedTemperature {
    color: @peach;
    border-radius: 0 0.8rem 0.8rem 0;
    padding-right: 10px;
    margin-right: 0.4rem;
}

#idle_inhibitor {
    color: @maroon;
    border-radius: 0.8rem;
    padding-right: 18px;
    margin-right: 1rem;
}
#idle_inhibitor.activated {
    color: @red;
    background-color: @surface1;
    padding-right: 10px;
}

#mpris {
    color: @mauve;
    background-color: transparent;
    border-radius: 0.8rem;
    padding-right: 10px;
    margin-right: 1rem;
}
#mpris.playing {
    background-color: @surface1;
}
#mpris.paused {
    background-color: @surface0;
}
#mpris.stopped {
    background-color: transparent;
}

#systemd-failed-units {
    color: @rosewater;
    background-color: @red;
    margin-right: 1rem;
}

#window {
    color: @overlay1;
    border-radius: 0.8rem;
    background-color: @surface0;
    padding-right:12px;
}
window#waybar.empty #window {
    background-color: transparent;
}

#pulseaudio {
    color: @lavender;
    margin-left: 1rem;
    border-radius: 0.8rem 0 0 0.8rem;
}

#backlight {
    color: @blue;
}

#custom-network {
    color: @sapphire;
}

#bluetooth {
    color: @teal;
    border-radius: 0 0.8rem 0.8rem 0;
    padding-right: 10px;
    margin-right: 0.4rem;
}

#battery {
    color: @green;
    border-radius: 0.8rem 0 0 0.8rem;
}

#clock {
    color: @yellow;
}

#custom-notification {
    color: @peach;
    border-radius: 0 0.8rem 0.8rem 0;
    padding-right: 10px;
    margin-right: 1rem;
}
