configuration {
    show-icons: true;

    modes: ["drun", "combi", "emoji", "calc"];
    combi-modes: ["window", "drun"];

    display-ssh:    "󰣀 ssh:";
    display-run:    "󱓞 run:";
    display-drun:   "󰣖 drun:";
    display-window: "󱂬 window:";
    display-combi:  "󱂬 window + 󰣖 drun:";
    display-filebrowser: "󰉋 filebrowser:";
    display-emoji: "󰱨 emoji:";
    display-calc: " calc:";
}

@theme "catppuccin-mocha.rasi"
