* {
  all: unset;
  font-size: 14px;
  font-family: "CaskaydiaCove Nerd Font";
  transition: 200ms;
}

.floating-notifications.background .notification-row .notification-background {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px #1E1E2E;
  border-radius: 12.6px;
  margin: 10px;
  background-color: #313244;
  color: #cdd6f4;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 12.6px;
}
.floating-notifications.background .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 #f38ba8;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}
.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
  font-weight: bold;
  font-size: 18px;
  color: #89b4fa;
}
.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
  color: #cdd6f4;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: #cdd6f4;
  background-color: #45475a;
  box-shadow: inset 0 0 0 1px #1E1E2E;
  margin: 7px;
}
.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: #585b70;
}
.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: #a6e3a1;
  color: #313244
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: #313244;
  background-color: #f38ba8;
}
.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: #eba0ac;
}
.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: #f38ba8;
}


.control-center {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px #313244;
  border-radius: 12.6px;
  margin: 18px;
  background-color: #1E1E2E;
  color: #cdd6f4;
  padding: 14px;
}

.control-center .notification-row .notification-background {
  border-radius: 7px;
  color: #cdd6f4;
  background-color: #313244;
  box-shadow: inset 0 0 0 1px #45475a;
  margin-top: 14px;
}
.control-center .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 7px;
}
.control-center .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 #f38ba8;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}
.control-center .notification-row .notification-background .notification .notification-content .summary {
  font-weight: bold;
  font-size: 18px;
  color: #89b4fa;
}
.control-center .notification-row .notification-background .notification .notification-content .time {
  color: #a6e3a1;
}
.control-center .notification-row .notification-background .notification .notification-content .body {
  color: #cdd6f4;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: #cdd6f4;
  background-color: #45475a;
  box-shadow: inset 0 0 0 1px #1E1E2E;
  margin: 7px;
}
.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: #585b70;
}
.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: #a6e3a1;
  color: #313244
}

.control-center .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: #313244;
  background-color: #f38ba8;
}
.control-center .notification-row .notification-background .close-button:hover {
  background-color: #eba0ac;
  color: #313244;
}
.control-center .notification-row .notification-background .close-button:active {
  background-color: #f38ba8;
}

.notification.critical progress {
  background-color: #f38ba8;
}
.notification.low progress {
    background-color: #a6e3a1;
}
.notification.normal progress {
  background-color: #89b4fa;
}

.image {
  padding-right: 0.5rem;
}
